.form{
    padding: 5%;
    background-color: transparent;
    border-radius: 3%;
}

.form h1{
    text-align: center
}

form{
    color: black;
    /* border: 2px solid rgb(211, 204, 204); */
    border-radius: 3%;
    margin-top: 40px;
    background-color: white;
}

.form{
    margin-top: 4%;
    
}



form .container{
    background-color: white;
    border-radius: 10px;
    padding: 5%;
    border: 2px solid rgb(211, 204, 204);
}

table{
    margin-left: 3%;
}

table tr{
    height: 120px;
}


table th{
    font-size: 25px;
}

table td{
    text-align: center;
}
